In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df_chicago_weather = pd.read_csv('../dataset/weather_hourly_chicago.csv')
df_chicago_weather.head()

             date_time  max_temp  min_temp  precip
0  2015-01-02 01:00:00      -1.7      -1.7     0.0
1  2015-01-02 02:00:00      -2.2      -2.2     0.0
2  2015-01-02 03:00:00      -2.8      -2.8     0.0
3  2015-01-02 04:00:00      -3.3      -3.3     0.0
4  2015-01-02 05:00:00      -4.4      -4.4     0.0

In [3]:
len(df_chicago_weather)

43848

In [4]:
df_chicago_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  43788 non-null  object
 1   max_temp   43788 non-null  float64
 2   min_temp   43788 non-null  float64
 3   precip     43790 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.3+ MB

In [6]:
df_chicago_weather[df_chicago_weather.duplicated(keep=False)]

                 date_time  max_temp  min_temp  precip
65     2015-01-03 18:00:00       0.6       0.6     1.0
66     2015-01-03 18:00:00       0.6       0.6     1.0
79     2015-01-04 08:00:00       0.6       0.6     1.0
80     2015-01-04 08:00:00       0.6       0.6     1.0
81     2015-01-04 10:00:00       0.0       0.0     1.0
...                    ...       ...       ...     ...
43448  2019-12-16 08:00:00      -4.4      -4.4     1.0
43644  2019-12-24 13:00:00       0.6       0.6     0.0
43645  2019-12-24 13:00:00       0.6       0.6     0.0
43741  2019-12-28 14:00:00       2.2       1.7     0.0
43742  2019-12-28 14:00:00       2.2       1.7     0.0

[1388 rows x 4 columns]

In [7]:
df_chicago_weather = df_chicago_weather.drop_duplicates(keep='last')

In [8]:
df_chicago_weather[df_chicago_weather.duplicated(keep=False)]

Empty DataFrame
Columns: [date_time, max_temp, min_temp, precip]
Index: []

In [10]:
df_chicago_weather.loc[df_chicago_weather['max_temp'] < df_chicago_weather['min_temp']]

Empty DataFrame
Columns: [date_time, max_temp, min_temp, precip]
Index: []

In [11]:
df_chicago_weather.isnull().sum()

date_time    2
max_temp     2
min_temp     2
precip       1
dtype: int64

In [12]:
df_chicago_weather = df_chicago_weather.dropna(axis=0, inplace=False)

In [14]:
df_chicago_weather.isnull().sum()

date_time    0
max_temp     0
min_temp     0
precip       0
dtype: int64

In [16]:
len(df_chicago_weather)

43124