In [1]:
import numpy as np
import pandas as pd
import math
import seaborn as sns
import matplotlib as mp
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import datetime
from datetime import timedelta
import seaborn as sns
#import graphviz
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Lasso, Ridge, LinearRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor, export_graphviz
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier


import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df_chicago = pd.read_csv('../dataset/chicago_2018_clean.csv')
df_weather = pd.read_csv('../dataset/chicago_weather_2018_clean.csv')

In [4]:
df_sorted = df_chicago.sort_values(by=['start_time'], ascending = [True])

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,duration_per_trip,trip_time_in_hours
3212538,2018-01-01 00:12:00,2018-01-01 00:17:23,69,159,Damen Ave & Pierce Ave,Claremont Ave & Hirsch St,3304,Subscriber,0 days 00:05:23,0.089722
3212539,2018-01-01 00:41:35,2018-01-01 00:47:52,253,325,Winthrop Ave & Lawrence Ave,Clark St & Winnemac Ave (Temp),5367,Subscriber,0 days 00:06:17,0.104722
3212540,2018-01-01 00:44:46,2018-01-01 01:33:10,98,509,LaSalle St & Washington St,Troy St & North Ave,4599,Subscriber,0 days 00:48:24,0.806667
3212541,2018-01-01 00:53:10,2018-01-01 01:05:37,125,364,Rush St & Hubbard St,Larrabee St & Oak St,2302,Subscriber,0 days 00:12:27,0.207500
3212542,2018-01-01 00:53:37,2018-01-01 00:56:40,129,205,Blue Island Ave & 18th St,Paulina St & 18th St,3696,Subscriber,0 days 00:03:03,0.050833

In [5]:
df_weather.rename(columns = {'date_time':'start_time'}, inplace = True)
df_weather['start_time'] = pd.to_datetime(df_weather['start_time'])

           start_time  max_temp  min_temp  precip
0 2018-01-01 00:00:00     -13.9     -13.9     0.0
1 2018-01-01 01:00:00     -15.0     -15.0     0.0
2 2018-01-01 02:00:00     -15.6     -15.6     0.0
3 2018-01-01 03:00:00     -16.7     -16.7     0.0
4 2018-01-01 04:00:00     -17.2     -17.2     0.0

In [6]:
df_sorted['start_time'] = pd.to_datetime(df_sorted['start_time'])
df_sorted['end_time'] = pd.to_datetime(df_sorted['end_time'])
df_load = df_sorted.groupby([pd.Grouper(key='start_time',freq='H')]).size().reset_index(name='Demand')

df_load_weather = pd.merge(df_load, df_weather, on='start_time')
df_load_weather['avg_temp'] = (df_load_weather['max_temp'] + df_load_weather['min_temp'])/2
df_load_weather.head(5)

df_load_weather.drop(['max_temp', 'min_temp'], axis = 1, inplace = True)
df_load_weather.head(5)

df_load_weather['start_hour'] = df_load_weather['start_time'].dt.hour

df_load_weather['sin_hour'] = np.sin(2*np.pi*df_load_weather['start_hour']/24)
df_load_weather['cos_hour'] = np.cos(2*np.pi*df_load_weather['start_hour']/24)
df_load_weather.head(5)

df_load_weather['start_month'] = df_load_weather['start_time'].dt.month

df_load_weather['sin_month'] = np.sin(2*np.pi*(df_load_weather['start_month'])/12)
df_load_weather['cos_month'] = np.cos(2*np.pi*df_load_weather['start_month']/12)

df_load_weather.head(5)

holidays = np.array([
    datetime.date(2018,1,1),
    datetime.date(2018,1,15),
    datetime.date(2018,2,12),
    datetime.date(2018,2,19),
    datetime.date(2018,3,5),
    datetime.date(2018,5,28),
    datetime.date(2018,7,4),
    datetime.date(2018,9,3),
    datetime.date(2018,10,8),
    datetime.date(2018,11,6),
    datetime.date(2018,11,12),
    datetime.date(2018,11,22),
    datetime.date(2018,11,23),
    datetime.date(2018,12,5),
    datetime.date(2018,12,24),
    datetime.date(2018,12,25),
])

df_load_weather['start_time'] = pd.to_datetime(df_load_weather['start_time'])
df_load_weather['isHoliday'] = df_load_weather['start_time'].dt.date.isin(holidays)

df_load_weather['isHoliday'] = df_load_weather['isHoliday'].astype(int)

df_load_weather.head(5)

df_load_weather['day_of_Week'] = df_load_weather['start_time'].dt.isocalendar().day

df_load_weather['sin_day_of_Week'] = np.sin(2*np.pi*df_load_weather['day_of_Week']/7)
df_load_weather['cos_day_of_Week'] = np.cos(2*np.pi*df_load_weather['day_of_Week']/7)
df_load_weather.head(5)

seasons = [1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 1]

monthToSeason = dict(zip(range(1,13), seasons))

df_load_weather['season'] = df_load_weather['start_time'].dt.month.map(monthToSeason)
df_load_weather.head(5)

df_load_weather['in_rush_Hour'] = False
df_load_weather['in_rush_Hour'] = np.where((df_load_weather['start_time'].dt.time.ge(datetime.time(6,0,0)) & df_load_weather['start_time'].dt.time.le(datetime.time(8,0,0)))
                                              | (df_load_weather['start_time'].dt.time.ge(datetime.time(16,0,0)) & df_load_weather['start_time'].dt.time.le(datetime.time(18,0,0))),1,0
                                          
                                          )

df_load_weather['prev_Demand'] = df_load_weather['Demand'].shift()
df_load_weather.head(5)

df_sorted['start_time'] = pd.to_datetime(df_sorted['start_time'])

df_var = df_load_weather[['start_time', 'avg_temp']]
df_temp_daily = df_var.groupby([pd.Grouper(key='start_time',freq='D')]).mean().reset_index()

df_load_daily = df_sorted.groupby([pd.Grouper(key='start_time',freq='D')]).size().reset_index(name='Demand')
df_temp_daily.head(5)

  start_time   avg_temp
0 2018-01-01 -18.912500
1 2018-01-02 -19.125000
2 2018-01-03 -11.450521
3 2018-01-04 -13.908333
4 2018-01-05 -15.237500

In [20]:
df_performance = pd.DataFrame(columns = ['Feature Set', 'Prediction Model', 'MSE', 'R^2'])

In [21]:
def model_evaluation(features):
    
    #df_performance = pd.DataFrame(columns = ['Feature Set', 'Prediction Model', 'MSE', 'R^2'])
    
    features.append('Demand')
    df1 = df_load_weather[features]
    train, test = train_test_split(df1, test_size = 0.3, random_state = 42)
    test.dropna(inplace = True)
    train.dropna(inplace = True)

    X_train = train.iloc[:,:-1]
    y_train = train.iloc[:,-1]

    X_test = test.iloc[:,:-1]
    y_test = test.iloc[:,-1]
    features.pop(features.index('Demand'))
    #print(X_train)
    
    sc = StandardScaler()
    X_train_scaled = sc.fit_transform(X_train)
    X_test_scaled = sc.fit_transform(X_test)
    
    training_error = []
    testing_error = []
    
    
    for degree_poly in range (1, 11):

        poly = PolynomialFeatures(degree = degree_poly)
        X_train_poly = poly.fit_transform(X_train) 
        X_test_poly = poly.fit_transform(X_test)

        linear_reg = LinearRegression(fit_intercept = False)
        linear_reg.fit(X_train_poly, y_train)
        y_train_pred = linear_reg.predict(X_train_poly)
        y_test_pred = linear_reg.predict(X_test_poly)
        
        training_error.append(((mean_squared_error(y_train_pred, y_train))))
        testing_error.append(((mean_squared_error(y_test_pred, y_test))))
        
    optimal_poly = testing_error.index(min(testing_error)) + 1    
        
    poly_reg = PolynomialFeatures (degree = optimal_poly)

    x_poly_train_ridge = poly_reg.fit_transform(X_train_scaled)
    x_poly_test_ridge = poly_reg.fit_transform(X_test_scaled)
    
    data = []
    for a in np.arange (0.1,50,0.1):
    
        #alp.append(a)
        optimal_model = Ridge(alpha = a, solver = 'lsqr')
        optimal_model.fit(x_poly_train_ridge, y_train)
        y_test_pred_opt = optimal_model.predict(x_poly_test_ridge)
        data.append([a,mean_squared_error(y_test_pred_opt, y_test),r2_score(y_test_pred_opt, y_test) ])
        
    df_error_r2_score = pd.DataFrame(data, columns = ['Lambda', 'MSE', 'R^2 Score'])
    row = df_error_r2_score.loc[df_error_r2_score['MSE'] == df_error_r2_score['MSE'].min()]
    perf_arr = [features, 'Ridge (L2)', df_error_r2_score['MSE'].min(), row.iloc[0]['R^2 Score']]
    df_performance.loc[len(df_performance)] = perf_arr
    df_performance.head(1)
    
    return df_performance

In [30]:
test = ['cos_hour','sin_month','avg_temp', 'in_rush_Hour', 'prev_Demand', 'sin_hour']
model_evaluation(test).style.set_properties(subset = ['Feature Set'], **{'width-min': '300px'})