# Bike Data Preparation

Within this notebook we clean and prepare the bike sharing dataset for chicago in the year 2018 for the usage in later stages of our project.

## 1 Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta, date, time
import pickle

Load Bike Dataset

In [2]:
df_chicago = pd.read_csv('../../dataset/chicago_2018.csv') 

df_chicago

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,2018-04-01 00:04:44,2018-04-01 00:13:03,22,171,May St & Taylor St,May St & Cullerton St,3819,Subscriber
1,2018-04-01 00:06:42,2018-04-01 00:27:07,157,190,Lake Shore Dr & Wellington Ave,Southport Ave & Wrightwood Ave,5000,Subscriber
2,2018-04-01 00:07:19,2018-04-01 00:23:19,106,106,State St & Pearson St,State St & Pearson St,5165,Customer
3,2018-04-01 00:07:33,2018-04-01 00:14:47,241,171,Morgan St & Polk St,May St & Cullerton St,3851,Subscriber
4,2018-04-01 00:10:23,2018-04-01 00:22:12,228,219,Damen Ave & Melrose Ave,Damen Ave & Cortland St,5065,Subscriber
...,...,...,...,...,...,...,...,...
3603077,2018-03-31 23:46:34,2018-04-01 00:05:24,158,260,Milwaukee Ave & Wabansia Ave,Kedzie Ave & Milwaukee Ave,1935,Subscriber
3603078,2018-03-31 23:47:43,2018-03-31 23:52:05,299,229,Halsted St & Roscoe St,Southport Ave & Roscoe St,5852,Subscriber
3603079,2018-03-31 23:50:18,2018-03-31 23:57:38,327,226,Sheffield Ave & Webster Ave,Racine Ave & Belmont Ave,4414,Subscriber
3603080,2018-03-31 23:52:26,2018-04-01 00:07:13,265,426,Cottage Grove Ave & Oakwood Blvd,Ellis Ave & 60th St,6448,Subscriber
3603081,2018-03-31 23:53:38,2018-04-01 00:03:08,485,475,Sawyer Ave & Irving Park Rd,Washtenaw Ave & Lawrence Ave,2769,Subscriber

## 2 Check structure and values of Attributes

In [3]:
df_chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3603082 entries, 0 to 3603081
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   start_station_id    int64
 3   end_station_id      int64
 4   start_station_name  object
 5   end_station_name    object
 6   bike_id             int64
 7   user_type           object
dtypes: int64(3), object(5)
memory usage: 219.9+ MB

<br>
The given dataset provides information about all Bike Trips in Chicago from the year 2018. Divy Bikes Chicago is a bicycle sharing system in the Chicago metropolitan area. All information which are needed besides from the historical dataset, will be taken by their websites. Down below you can see a brief overview about all columns and datatypes which are given and needed to be preprocessed for the next steps.
<br>
<br>

**start_time** : Day and time trip started [datetime] <br>
**end_time** : Day and time trip ended [datetime] <br>
**start_station_id** : Unique ID of station where trip originated [int] <br>
**end_station_id** : Unique ID of station where trip terminated [int] <br>
**start_station_name** : Name of station where trip originated [str] <br>
**end_station_name** : Name of station where trip terminated [str] <br>
**bike_id** : Unique ID attached to each bike [int] <br>
**user_type** : User membership type [str] <br>


The following steps include all necessary activities to construct and clean the dataset.

In [4]:
#Check number of rows
Lenght = len(df_chicago)
print("The dataset includes " + str(Lenght) + " entries.")

The dataset includes 3603082 entries.

<br>
We start by looking at the number of entries to check how many of them will be removed at the end of the cleansing process.
In the beginning, the dataset includes 3603082 entries.

## 3 Duplicates

In [5]:
#Drop duplicates and keep the last
df_chicago= df_chicago.drop_duplicates(keep='last')

In [6]:
#Check for duplicates
df_chicago[df_chicago.duplicated(keep=False)]

Empty DataFrame
Columns: [start_time, end_time, start_station_id, end_station_id, start_station_name, end_station_name, bike_id, user_type]
Index: []

## 4 Null Values

In [7]:
#Check for null values
df_chicago.isnull().sum()

start_time            0
end_time              0
start_station_id      0
end_station_id        0
start_station_name    0
end_station_name      0
bike_id               0
user_type             0
dtype: int64

No column in the dataset contains null values

## 5 Consistency

In the next step we look if the data set is also logically correct by checking its consistency. 
<br> We begin with the case if all values of the column start_time are actually smaller than the column end_time. All other cases (equal, bigger than) will be marked with the label 'Delete'. In the next step, we drop this type of outliers from our dataset.

In [8]:
#Define conditions if start_time is smaller than end_time
conditions = [df_chicago['end_time'] < df_chicago['start_time'],
              df_chicago['start_time'] < df_chicago['end_time'],
              df_chicago['start_time'] == df_chicago['end_time']]

#Define choices
choices=["Delete","Keep", "Delete"]

#Create new column in DataFrame that displays results of comparisons
df_chicago['result'] = np.select(conditions, choices, default='Tie')

#view result
df_chicago.head(10)

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,result
0,2018-04-01 00:04:44,2018-04-01 00:13:03,22,171,May St & Taylor St,May St & Cullerton St,3819,Subscriber,Keep
1,2018-04-01 00:06:42,2018-04-01 00:27:07,157,190,Lake Shore Dr & Wellington Ave,Southport Ave & Wrightwood Ave,5000,Subscriber,Keep
2,2018-04-01 00:07:19,2018-04-01 00:23:19,106,106,State St & Pearson St,State St & Pearson St,5165,Customer,Keep
3,2018-04-01 00:07:33,2018-04-01 00:14:47,241,171,Morgan St & Polk St,May St & Cullerton St,3851,Subscriber,Keep
4,2018-04-01 00:10:23,2018-04-01 00:22:12,228,219,Damen Ave & Melrose Ave,Damen Ave & Cortland St,5065,Subscriber,Keep
5,2018-04-01 00:11:29,2018-04-01 00:22:28,244,325,Ravenswood Ave & Irving Park Rd,Clark St & Winnemac Ave (Temp),5962,Subscriber,Keep
6,2018-04-01 00:15:49,2018-04-01 00:19:47,128,130,Damen Ave & Chicago Ave,Damen Ave & Division St,4570,Subscriber,Keep
7,2018-04-01 00:17:00,2018-04-01 00:22:53,130,69,Damen Ave & Division St,Damen Ave & Pierce Ave,1323,Subscriber,Keep
8,2018-04-01 00:18:24,2018-04-01 00:23:06,130,69,Damen Ave & Division St,Damen Ave & Pierce Ave,1977,Subscriber,Keep
9,2018-04-01 00:20:00,2018-04-01 00:26:22,121,351,Blackstone Ave & Hyde Park Blvd,Cottage Grove Ave & 51st St,2602,Subscriber,Keep

In [9]:
#List of values with 'Delete' values
df_chicago.loc[df_chicago['result'] == 'Delete']

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,result
2946870,2018-11-04 01:34:41,2018-11-04 01:12:43,188,333,Greenview Ave & Fullerton Ave,Ashland Ave & Blackhawk St,2398,Subscriber,Delete
2946876,2018-11-04 01:46:45,2018-11-04 01:06:53,54,259,Ogden Ave & Chicago Ave,California Ave & Francis Pl,5303,Subscriber,Delete
2946877,2018-11-04 01:48:12,2018-11-04 01:02:46,463,229,Clark St & Berwyn Ave,Southport Ave & Roscoe St,2334,Customer,Delete
2946878,2018-11-04 01:50:42,2018-11-04 01:01:53,453,325,Clark St & Schreiber Ave,Clark St & Winnemac Ave (Temp),3109,Subscriber,Delete
2946880,2018-11-04 01:53:16,2018-11-04 01:11:13,118,152,Sedgwick St & North Ave,Lincoln Ave & Diversey Pkwy,6462,Subscriber,Delete
2946881,2018-11-04 01:55:29,2018-11-04 01:14:56,73,172,Jefferson St & Monroe St,Rush St & Cedar St,1097,Subscriber,Delete
2946882,2018-11-04 01:59:57,2018-11-04 01:27:14,497,234,Kimball Ave & Belmont Ave,Clark St & Montrose Ave,1439,Subscriber,Delete

We can see that 7 entries are logically incorrect. These outliers need to be dropped.

In [10]:
#Drop outliers with the value 'Delete'
df_chicago.drop(df_chicago[df_chicago['result']== 'Delete'].index, inplace = True)

In [11]:
#Check if 'Delete' values are removed
df_chicago.loc[df_chicago['result'] == 'Delete']

Empty DataFrame
Columns: [start_time, end_time, start_station_id, end_station_id, start_station_name, end_station_name, bike_id, user_type, result]
Index: []

In [12]:
df_chicago = df_chicago.drop(['result'], axis = 1)

To continue the process of consistency for the values, we check if each station name belongs to exactly one station id and vice versa.

In [13]:
#Check if every start_station_name is assigned to only one start_station_id and vice versa

df_id_time = df_chicago.sort_values(by=['start_time','bike_id'], ascending=True)

df_name_unique = df_id_time.groupby('start_station_name')['start_station_id'].nunique().reset_index()

df_id_unique = df_id_time.groupby('start_station_id')['start_station_name'].nunique().reset_index()

print(df_name_unique)
print(df_id_unique)

               start_station_name  start_station_id
0             2112 W Peterson Ave                 1
1                   63rd St Beach                 1
2               900 W Harrison St                 1
3      Aberdeen St & Jackson Blvd                 1
4         Aberdeen St & Monroe St                 1
..                            ...               ...
617           Wood St & Taylor St                 1
618        Woodlawn Ave & 55th St                 1
619        Woodlawn Ave & 75th St                 1
620  Woodlawn Ave & Lake Park Ave                 1
621          Yates Blvd & 75th St                 1

[622 rows x 2 columns]
     start_station_id  start_station_name
0                   2                   1
1                   3                   1
2                   4                   1
3                   5                   1
4                   6                   1
..                ...                 ...
616               660                   1
617               661                   1
618               662                   1
619               663                   1
620               664                   1

[621 rows x 2 columns]

In [14]:
#Check maximum number of station_id assigned to one station_name
print(df_name_unique.start_station_id.max())

1

In [15]:
#Check maximum number of station_names assigned to one station_id
print(df_id_unique.start_station_name.max())

2

We have a start_station_id that is assigned to two start_station_names. In the next step we will find out which ID and station_name is affected by this.

In [16]:
df_id_unique[df_id_unique.start_station_name == 2]

     start_station_id  start_station_name
222               243                   2

Start_station_id 243 is assigned to two start_station_names. In the next step, we check how many bike trips are influenced by this station confusion.

In [17]:
#There are more than 9000 rides involving this station
len(df_chicago.loc[df_chicago['start_station_id'] == 243]) + len(df_chicago.loc[df_chicago['end_station_id'] == 243])

9149

In [18]:
df_chicago[df_chicago['end_station_id'] == 243]['end_station_name'].unique()

array(['Lincoln Ave & Leavitt St', 'Lincoln Ave & Sunnyside Ave'],
      dtype=object)

We make the decision to merge the Avenues instead of dropping them out, because our assumption is to keep the entries since both station_names are very close to each other and could be possibly seen as one.
Therefore, we merge Lincoln Ave & Leavitt St and Lincoln Ave & Sunnyside Ave to Lincoln Ave & Sunnyside Ave.

In [19]:
#Merge two start_station_name which are assigned to one start_station_id
df_chicago['start_station_name'] = df_chicago['start_station_name'].replace(
    'Lincoln Ave & Leavitt St',
    'Lincoln Ave & Sunnyside Ave'
)

In [20]:
#Merge two end_station_name which are assigned to one end_station_id
df_chicago['end_station_name'] = df_chicago['end_station_name'].replace(
    'Lincoln Ave & Leavitt St',
    'Lincoln Ave & Sunnyside Ave'
)

In [21]:
df_chicago[df_chicago['end_station_id'] == 243]['end_station_name'].unique()

array(['Lincoln Ave & Sunnyside Ave'], dtype=object)

In [22]:
#Check if every start_station_name is assigned to only one start_station_id and vice versa

df_id_time = df_chicago.sort_values(by=['start_time','bike_id'], ascending=True)

df_name_unique = df_id_time.groupby('start_station_name')['start_station_id'].nunique().reset_index()

df_id_unique = df_id_time.groupby('start_station_id')['start_station_name'].nunique().reset_index()

print(df_name_unique)
print(df_id_unique)

               start_station_name  start_station_id
0             2112 W Peterson Ave                 1
1                   63rd St Beach                 1
2               900 W Harrison St                 1
3      Aberdeen St & Jackson Blvd                 1
4         Aberdeen St & Monroe St                 1
..                            ...               ...
616           Wood St & Taylor St                 1
617        Woodlawn Ave & 55th St                 1
618        Woodlawn Ave & 75th St                 1
619  Woodlawn Ave & Lake Park Ave                 1
620          Yates Blvd & 75th St                 1

[621 rows x 2 columns]
     start_station_id  start_station_name
0                   2                   1
1                   3                   1
2                   4                   1
3                   5                   1
4                   6                   1
..                ...                 ...
616               660                   1
617               661                   1
618               662                   1
619               663                   1
620               664                   1

[621 rows x 2 columns]

In [23]:
#Check if every station_name is assigned to only one station_id
df_id_unique[df_id_unique.start_station_name == 2]

Empty DataFrame
Columns: [start_station_id, start_station_name]
Index: []

In [24]:
#Check if every end_station_name is assigned to only one end_station_id and vice versa

df_id_time = df_chicago.sort_values(by=['end_time','bike_id'], ascending=True)

df_name_unique = df_id_time.groupby('end_station_name')['end_station_id'].nunique().reset_index()

df_id_unique = df_id_time.groupby('end_station_id')['end_station_name'].nunique().reset_index()

print(df_name_unique)
print(df_id_unique)

                 end_station_name  end_station_id
0             2112 W Peterson Ave               1
1                   63rd St Beach               1
2               900 W Harrison St               1
3      Aberdeen St & Jackson Blvd               1
4         Aberdeen St & Monroe St               1
..                            ...             ...
614           Wood St & Taylor St               1
615        Woodlawn Ave & 55th St               1
616        Woodlawn Ave & 75th St               1
617  Woodlawn Ave & Lake Park Ave               1
618          Yates Blvd & 75th St               1

[619 rows x 2 columns]
     end_station_id  end_station_name
0                 2                 1
1                 3                 1
2                 4                 1
3                 5                 1
4                 6                 1
..              ...               ...
614             660                 1
615             661                 1
616             662                 1
617             663                 1
618             664                 1

[619 rows x 2 columns]

In [25]:
df_name_unique['end_station_id'].max()

1

In [26]:
df_id_unique['end_station_name'].max()

1

After all executed activities, no station_name is assigned to more than one station_id and vice versa
(for start_station_name, end_station_name, start_station_id and end_station_id).

### 5.1 Format Time columns

In this section, we start by formatting start_time and end_time into the right format to use it for further analysis.

In [27]:
#Format the columns from datatype object to datatype datetime
df_chicago['start_time'] = pd.to_datetime(df_chicago['start_time'])
df_chicago['end_time'] = pd.to_datetime(df_chicago['end_time'])

In [28]:
#Calculate the duration time of each trip
df_chicago['duration_per_trip'] = df_chicago['end_time'] - df_chicago['start_time']

In [ ]:
#Calculate total trip time in hours
df_chicago = df_chicago.assign(trip_time_in_hours=df_chicago.apply(lambda x: x['end_time'] - x['start_time'], axis=1) / pd.Timedelta(hours=1)
)

We create two new columns named 'duration_per_trip' and 'trip_time_in_hours'. Both will be necessary for the limitation of the dataset. Therefore we calculated the difference between end_time and start_time.

In [ ]:
df_chicago.head(10)

## 6 Capping trip time

In order to get a better assessment of the trips, we look at the time aspect of the trips in this section. A time cap may need to be established to drop potential outliers.

In [ ]:
#Trip duration plot 
fig,ax = plt.subplots(figsize=(20,10), dpi= 90) 

label_font = {'labelsize':'10'}
axis_font = {'size':'35'}
dic={'fontsize': '25'}

ax.scatter(df_chicago.index, df_chicago['trip_time_in_hours'], s = 5, c = 'blue')
ax.set_xlabel('Trips')
ax.set_ylabel('Trip Time in Hours')

plt.show()

In the first plot, we see that there is a massive spread between the different trip times in hours. Here we have to make a new delimitation, since in some cases trips are shown where the user forgot to log off from the rented bike or individual users deliberately wanted to borrow the bike for several days.

In [ ]:
#Calculate 0.999 quantile of trip time
quantile = df_chicago['trip_time_in_hours'].quantile(0.999)
quantile

We tested different quantiles to get the best suitable constraint for the trip time in hours. In this case we choose the 0.999 quantile, because the 0.99 quantile is taking every bike trip into account which durates not longer than 2 hours. This would cause to a very high loss of the dataset since we have bike trips with a duration time greater than 2 hours. The 0.90 quantile is not precise enough which is why the 0.99 quantile is set as the optimal constraint for our case.

In [ ]:
#0.1% or 3604 values are above the quantile
len(df_chicago.loc[df_chicago['trip_time_in_hours'] > quantile])

By applying the quantile, we drop 3604 entries from our dataset.

In [ ]:
df_chicago_quantile = df_chicago.loc[df_chicago['trip_time_in_hours'] < quantile]

In [ ]:
#Trip duration plot 
fig,ax = plt.subplots(figsize=(20,10), dpi= 90) 

label_font = {'labelsize':'10'}
axis_font = {'size':'35'}
dic={'fontsize': '25'}

ax.scatter(df_chicago_quantile.index, df_chicago_quantile['trip_time_in_hours'], s = 5, c = 'blue')
ax.set_xlabel('Trips')
ax.set_ylabel('Trip Time in Hours')

plt.show()

Here it is visible that the upper limit of bike trips are approximately 10 hours. Most of the bike trips durate not longer than 4 hours.

In [ ]:
#Check number of entries for current dataframe and the new dataframe with 0.999 quantile
print(len(df_chicago))
print(len(df_chicago_quantile))

By comparing the existing dataframe with the 0.999 quantile one, we reach out a reduction of 3604 entries. As now on,the dataframe with the 0.999 quantile will be used as our the new dataframe.

In [ ]:
#Continue with new Dataframe
df_chicago = df_chicago_quantile

In [ ]:
df_chicago.info()

In [ ]:
#Check trip length to exclude potential outliers
df_chicago.sort_values(by=["duration_per_trip"], ascending=False).head(10)

In [ ]:
#Drop rows who started or ended biketrip before and after 2018 
df_chicago.drop(df_chicago[df_chicago['start_time'] < '2018-01-01 00:00:00'].index, inplace = True)
df_chicago.drop(df_chicago[df_chicago['end_time'] > '2018-12-31 23:59:59'].index, inplace = True)

To ensure that all trips occurred in 2018, outliers that started before and ended after 2018 are thrown out of the data set.

In [ ]:
len(df_chicago)

In [ ]:
df_chicago['duration_per_trip'].describe()

The average bike trip durates not longer than 18 minutes. The maximum bike trip on the other side takes approximately 10 hours. It could be possible that a user rent a bike and forgot to sign off.

## 7 One bike trip at same time

We continue our logical constraint by looking if only one ride is happening at the same time. Herefore, we use the bike_id and compare the bike trips based on start_time and end_time.

In [ ]:
#Check if for every bike_id only one ride is happening at the same time

df_bike_id = df_chicago.sort_values(by=['bike_id','start_time'], ascending=True)
x_chicago = df_bike_id[['start_time','end_time', 'bike_id']]

#Add columns next_ride and next_bike 
x_chicago = x_chicago.assign(next_bike_id=0)
x_chicago['next_bike']= x_chicago['bike_id'].shift(periods=-1)
x_chicago = x_chicago.assign(next_ride_start=0)
x_chicago['next_ride']= x_chicago['start_time'].shift(periods=-1)

In [ ]:
#Compare if next trip is with the same bike
x_chicago['compare_id'] = x_chicago.apply(lambda x: True if ((x['bike_id'] == x['next_bike'])) else False, axis=1)

#Drop last row because of nan
x_chicago = x_chicago.dropna() 

x_chicago['check'] = x_chicago.apply(lambda x: True if ((x['next_ride'] >= x['end_time'])) else False, axis=1)

#Find wrong entrys 
df_trips_at_same_time = x_chicago[(x_chicago['check']==False)&(x_chicago['compare_id']==True)]

print('Wrong entrys: '+str(len(df_trips_at_same_time)))

In [ ]:
#Display wrong entries
print('Entrys before this drop: ' + str(len(df_chicago)))
same_time = list(df_trips_at_same_time.index)
same_time
print(same_time)

We have 7 bike trips which started at the same time. These entries will be dropped in the next steps.

In [ ]:
#Drop wrong entries
df_chicago = df_chicago.drop(same_time)

In [ ]:
print('Entrys after this drop: ' + str(len(df_chicago)))

In [ ]:
df_chicago.info()

## 8 Export

Since the data preparation phase is completed, the dataset needs to be exported to use it for further analyzing.

In [ ]:
#Export dataset
df_chicago.to_csv(r'../../dataset/chicago_2018_clean.csv', index = False)